{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

<title>{% block head_title %}{{ block.super }} | Domanda{% endblock head_title %}</title>
{% block script %}
    {% leaflet_js %}
    {% leaflet_css %}
    <style>.leaflet-container-default {min-height: 600px;}</style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.5.0/proj4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.2/proj4leaflet.js"></script>
{% endblock %}

{% block content %}


    {% if not error %}
        <h2>Visualizzazione singolo danno</h2>
        {#        controllo per far apparire il bottone di edit solo ai CAA#}
        {% if request.user.is_authenticated and danno.CAA == request.user %}
            <a href="{% url 'danno_edit' pk=danno.id %}" class="btn btn-neutral float-right" title="Installation" accesskey="n" rel="next">Modifica<span class="far fa-edit fa-lg"></span></a>
            {#            <a href="{% url 'danno_edit' pk=danno.id %} class="btn btn-info" role="button">Edita</a>#}
        {% endif %}

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Richiedente: {{ danno.richiedente }}</li>
            {% if danno.foglio or danno.particella %}
                <li class="list-group-item">Foglio: {{ danno.foglio }} particella: {{ danno.particella }}</li>
            {% endif %}
            <li class="list-group-item">Data inserimento {{ danno.data_ins|date }}</li>
            <li class="list-group-item">Coltura: {{ danno.coltura }}, varietà {{ danno.varieta }}</li>
            <li class="list-group-item">Superficie particella in ettari: {{ danno.SumTot }} di cui a seminativo {{ danno.SumSem }}</li>
            <li class="list-group-item">percentuale stimata del danno: {{ danno.PercDanno }}%</li>
            <li class="list-group-item">Resa Unitaria (Q.li, N°) : {{ danno.Produzione }}</li>
            <li class="list-group-item">Stima quantità prodotto perso {{ danno.PerProdPersa }}%</li>
            <li class="list-group-item">ipotetico valore del danno stimato dal dichiarante: {{ danno.ValoreDanno }}€</li>
            <li class="list-group-item">numero piante danneggiate: {{ danno.NumPianteDan }}
                {% if danno.TIpoPiante %}
                    e tipo: {{ danno.TipoPiante }}{% endif %}
            </li>
            <li class="list-group-item">Selvaggina che ha fatto i danni alla coltura: {{ danno.SelvagginaSem }}</li>
            <li class="list-group-item">Opere di protezione: {{ danno.OpereProtezione }}</li>
            {% if danno.polizza %}
                <li class="list-group-item">polizza assicurativa: {{ danno.polizza }}</li>
            {% endif %}
            {% if danno.biologica %}
                <li class="list-group-item">azienda biologica: {{ danno.biologica }}</li>
            {% endif %}
        {% if danno.note %}
            <li class="list-group-item">Note: {{ danno.note }}</li>
            {% endif %}
            <li class="list-group-item">Centro di Assistenza Agricolo assegnatario domanda: {{ danno.CAA }}</li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Catastali correttamente inseriti:
                <span class="badge badge-primary badge-pill">{{ danno.fog_part_db.count }}</span>
            </li>
        </ul>


        {% leaflet_map "main" callback="main_map_init" %}

        <script type="text/javascript">
            function onEachFeature(feature, layer) {
                // does this feature have a property named popupContent?
                if (feature.properties && feature.properties.popupContent) {
                    layer.bindPopup(feature.properties.popupContent);
                }
            }
            // funzione che genera l'URL di una richiesta WMS GetFeatureInfo
            function getFeatureInfoUrl(map, layer, latlng, crs) {
                var point = map.latLngToContainerPoint(latlng, map.getZoom()),
                    size = map.getSize(),
                    bounds = map.getBounds(),
                    sw = bounds.getSouthWest(),
                    ne = bounds.getNorthEast(),
                    sw = crs.projection._proj.forward([sw.lng, sw.lat]),
                    ne = crs.projection._proj.forward([ne.lng, ne.lat]);

                var defaultParams = {
                    request: 'GetFeatureInfo',
                    service: 'WMS',
                    srs: layer._crs.code,
                    styles: '',
                    version: layer._wmsVersion,
                    format: layer.options.format,
                    bbox: [sw.join(','), ne.join(',')].join(','),
                    height: size.y,
                    width: size.x,
                    layers: layer.options.layers,
                    query_layers: layer.options.layers,
                    info_format: 'text/html'
                };
                params = L.Util.extend(defaultParams);
                params[params.version === '1.3.0' ? 'i' : 'x'] = point.x;
                params[params.version === '1.3.0' ? 'j' : 'y'] = point.y;

                return layer._url + L.Util.getParamString(params, layer._url, true);
            }

            function main_map_init (map, options) {

                var dataurl = "{% url "data" %}?pid={{ danno.id }}";
                // Download GeoJSON via Ajax
                $.getJSON(dataurl, function (data) {
                    // Add GeoJSON layer
                    L.geoJson(data,{
                        onEachFeature: function (feature, layer) {
                            layer.bindPopup('<h5>Foglio</h5>'+ feature.properties.foglio+'<h5>Particella: </h5>'+feature.properties.part);
                        }
                    }).addTo(map);
                    {% comment %}var wmsLayer = L.tileLayer.wms('https://demo.boundlessgeo.com/geoserver/ows?', {
                        layers: 'ne:ne'
                    }).addTo(map);{% endcomment %}

                    //parte per inserire il catasto
                    var ETRS89width= 18.99-5.93;
                    var startResolution = ETRS89width/1024;
                    var grid_resolution = new Array(22);
                    for (var i = 0; i < 22; ++i) {
                        grid_resolution[i] = startResolution / Math.pow(2, i);
                    }
                    var crs_6706 = new L.Proj.CRS('EPSG:6706',
                        '+proj=longlat +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +no_defs',
                        {
                            resolutions: grid_resolution,
                            origin: [0, 0],
                            bounds: L.bounds([5.93, 34.76], [18.99, 47.1])
                        });
                    var url= 'https://wms.cartografia.agenziaentrate.gov.it/inspire/wms/ows01.php';
                    var urlcatastogeoscopio = 'http://www502.regione.toscana.it/ows_catasto/com.rt.wms.RTmap/ows?map=owscatasto&'
                    var urlpianofaunistico = 'http://www502.regione.toscana.it/ows2/com.rt.wms.RTmap/wms?map=owscacciapesca&map_resolution=91&'
                    var wmsLayer1 = L.tileLayer.wms(url, {
                        layers: ['CP.CadastralParcel'],
                        crs: crs_6706,
                        format: 'image/png',
                        maxZoom: 21,
                        transparent: true,
                    })
                    {#wmsLayer1.addTo(map);#}
                    var wmsLayer2 = L.tileLayer.wms(url, {
                        layers: ['vestizioni'],
                        crs: crs_6706,
                        format: 'image/png',
                        maxZoom: 21,
                        transparent: true,
                    })
                    {#wmsLayer2.addTo(map);#}
                    var wmsCatastoGeocopio = L.tileLayer.wms(urlpianofaunistico,{
                            layers: ['rt_cacciapesca.sottoambito_atc_2015.rt'],
                            crs: L.CRS.EPSG3857,
                            format: 'image/png',
                            maxZoom: 21,
                            transparent: true,

                        }
                    )
                    {#wmsCatastoGeocopio.addTo(map)#}

                    var lc = map.layerscontrol;

// An example from the Atlas of Living Australia https://www.ala.org.au/
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlcatastogeoscopio,
                            {layers: 'rt_cat.idcatpart.rt', format: 'image/png', transparent: true}),
                        'Catasto Geoscopio Toscana'
                    );
                    //ATC regione toscana
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlpianofaunistico,
                            {layers: 'rt_cacciapesca.atc.rt', format: 'image/png', transparent: true}),
                        'ATC Toscana'
                    );
                    //Aziende Agritoristico Venatorie regione toscana
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlpianofaunistico,
                            {layers: 'rt_cacciapesca.aziende_agrituristico_venatorie.rt', format: 'image/png', transparent: true}),
                        'Aziende Agrituristico Venatorie'
                    );
                    //Aziende Faunistico Venatorie regione toscana
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlpianofaunistico,
                            {layers: 'rt_cacciapesca.aziende_faunistico_venatorie.rt', format: 'image/png', transparent: true}),
                        'Aziende Faunistico Venatorie'
                    );
                    //Aziende addestramento cani regione toscana
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlpianofaunistico,
                            {layers: 'rt_cacciapesca.aree_addestramento_cani.rt', format: 'image/png', transparent: true}),
                        'Aree Addestramento Cani'
                    );
                    //Centri privati riproduzione fauna selvatica regione toscana
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlpianofaunistico,
                            {layers: 'rt_cacciapesca.centri_privati_riproduzione_fauna_selvatica.rt', format: 'image/png', transparent: true}),
                        'Centri privati riproduzione fauna selvatica'
                    );
                    //Centri pubblici riproduzione fauna selvatica regione toscana
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlpianofaunistico,
                            {layers: 'rt_cacciapesca.centri_pubblici_riproduzione_fauna_selvatica.rt', format: 'image/png', transparent: true}),
                        'Centri pubblici riproduzione fauna selvatica'
                    );
                    //distretti_cinghiale regione toscana
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlpianofaunistico,
                            {layers: 'rt_cacciapesca.distretti_cinghiale.rt', format: 'image/png', transparent: true}),
                        'distretti cinghiale'
                    );
                    //divieti_caccia_art33 regione toscana
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlpianofaunistico,
                            {layers: 'rt_cacciapesca.divieti_caccia_art33.rt', format: 'image/png', transparent: true}),
                        'divieti caccia art33'
                    );
                    //divieti_caccia_demaniali regione toscana
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlpianofaunistico,
                            {layers: 'rt_cacciapesca.divieti_caccia_demaniali.rt', format: 'image/png', transparent: true}),
                        'divieti caccia demaniali'
                    );
                    //fondi_chiusi regione toscana
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlpianofaunistico,
                            {layers: 'rt_cacciapesca.fondi_chiusi.rt', format: 'image/png', transparent: true}),
                        'fondi chiusi'
                    );
                     //fondi_rustici regione toscana
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlpianofaunistico,
                            {layers: 'rt_cacciapesca.fondi_rustici.rt', format: 'image/png', transparent: true}),
                        'fondi_rustici'
                    );
                    //oasi_di_protezione regione toscana
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlpianofaunistico,
                            {layers: 'rt_cacciapesca.oasi_di_protezione.rt', format: 'image/png', transparent: true}),
                        'oasi di protezione'
                    );
                    //valichi_montani regione toscana
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlpianofaunistico,
                            {layers: 'rt_cacciapesca.valichi_montani.rt', format: 'image/png', transparent: true}),
                        'valichi montani'
                    );
                    //zone_di_protezione_art14 regione toscana
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlpianofaunistico,
                            {layers: 'rt_cacciapesca.zone_di_protezione_art14.rt', format: 'image/png', transparent: true}),
                        'zone di protezione art14'
                    );
                    //zone_di_ripopolamento_e_cattura regione toscana
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlpianofaunistico,
                            {layers: 'rt_cacciapesca.zone_di_ripopolamento_e_cattura.rt', format: 'image/png', transparent: true}),
                        'zone di ripopolamento e cattura'
                    );
                    //zone_di_rispetto_venatorio regione toscana
                    lc.addOverlay(
                        L.tileLayer.wms(
                            urlpianofaunistico,
                            {layers: 'rt_cacciapesca.zone_di_rispetto_venatorio.rt', format: 'image/png', transparent: true}),
                        'zone di rispetto venatorio'
                    );




// add lc.addOverlay() layers as needed

                    var popup = L.popup({maxWidth: 500});

                    map.on('click', function(evt) {
                        var coord =evt.latlng;
                        var gFIurl = getFeatureInfoUrl(map, wmsLayer1, coord, crs_6706);
                        if (gFIurl) {
                            var xhttp;
                            xhttp = new XMLHttpRequest();
                            xhttp.onreadystatechange = function() {
                                if (this.readyState == 4 && this.status == 200) {
                                    popup
                                        .setLatLng(coord)
                                        .setContent(xhttp.responseText)
                                        .openOn(map);;
                                }
                            };
                            //bypass cors policy
                            xhttp.open("GET", "https://cors-anywhere.herokuapp.com/" + gFIurl, true);
                            xhttp.send();
                        }
                    })
                });


            }
        </script>
    {% else %}
        <h3>Accesso negato</h3>
        <p>{{ error }}</p>
    {% endif %}
{% endblock content %}