Django==1.11.23
django-ajax-selects==1.7.0
django-crispy-forms==1.7.0
django-geojson==2.11.0
django-iban-field==0.8
django-leaflet==0.23.0
Pillow==5.4.1
pkg-resources==0.0.0
psycopg2==2.7.3.2
pysqlite==2.8.3
python-codicefiscale==0.3.0
python-dateutil==2.6.1
python-decouple==3.1
python-slugify==1.2.4
pytz==2017.3
reportlab==3.5.13
six==1.11.0
Unidecode==1.0.22
